
// $grid-columns: 12;
$grid-gutter-width: 20px;
// $spacer: 1rem;
// $spacers: (
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .5),
//   3: $spacer,
//   4: ($spacer * 1.5),
//   5: ($spacer * 3),
//   6: ($spacer * 5)
// )
$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px,
);
$container-max-widths: (
  md: 720px,
  lg: 960px,
);

@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/utilities.scss';


