html, body{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 70%;
  height: 300px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second{
  display: flex;
  justify-content: right;
  width: 15%;
  height: 100px;
  background-color: cadetblue;
  border: crimson solid 1px;
  align-items: center;
  justify-content: center;

}
.sectwo{
  width: 15%;
  height: 40px;
  background-color: cyan;
  border: crimson solid 1px;
}