
.nav {
  
  color: rgba(98, 98, 98, 1);
  font-family: "PlayfairDisplay"; 
  width: 900px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
}
a {
  color: rgba(98, 98, 98, 1); /* Цвет обычной ссылки */ 
  text-decoration: none; /* Убираем подчеркивание у ссылок */
 }
 a:visited {
  color: rgba(98, 98, 98, 1); /* Цвет посещённой ссылки */
 } 
 a:hover {
  color: rgba(72, 168, 238, 1); /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: none; /* Добавляем подчеркивание */
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
 }
li {
  display: inline;
  padding: 70px;
}
main{
  width: 900px;
  align-items: center;
  margin: auto;
}
.parent {
  background: white;
  float: left;
  width: 420px;
  }
.parent:nth-child(odd){
  margin-right: 60px;
}

.about{
  font-family: "Ubuntu";
  text-transform: uppercase;
  color: rgba(180, 173, 158, 1);
}
h3 {
  font-family: "PlayfairDisplay";
  font-size: 28px;
  color: rgba(98, 98, 98, 1);
}

p {
  width: auto;
  font-family: "PlayfairDisplay";
  font-size: 14px;
  line-height: 170%;
  text-align: left;
  color: rgba(98, 98, 98, 1);
}
button{
  display: block;
  width: 150px;
  margin: auto;
  
  margin-top: 50px;
  background-color: white;

  font-family: "PlayfairDisplay";
  color: rgba(98, 98, 98, 1);
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid;
}
button:hover {
  background-color: rgba(72, 168, 238, 1);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  color: white;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"); 
 } 
 @font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Light.ttf") format("truetype"); 
 } 
 